
:root {
  // Primary Colors
  --heat-wave: hsl(26, 100%, 55%);
  --linen: hsl(25, 100%, 94%);

  // Neutral Colors
  --black: hsl(0, 0%, 0%);
  --eerie-black: hsl(220, 13%, 13%);
  --dark-electric-blue: hsl(219, 9%, 45%);
  --cadet-blue: hsl(220, 14%, 75%);
  --ghost-white: #f7f8fd;
  --white: hsl(0, 0%, 100%);
}
